


.tweet__box {
    width: fit-content;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tweet__left img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.tweet-box-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 10px;
}

.tweet-box-header .fab {
    color: #1DA1F2;
}

.tweet-box-header .close-icon {
    color: #657786;
    cursor: pointer;
}

.tweet-box-body {
    display: flex;
    flex-direction: column;
}

.tweet-box-body .tweet-title,
.tweet-box-body textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    margin-bottom: 10px;
}

.tweet-box-body textarea {
    resize: none;
    height: 100px;
}

.tweet-box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tweet-icons {
    display: flex;
    align-items: center;
}

.tweet-icons .icon {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #e91e63;
}

.tweet-icons input[type="file"] {
    display: none;
}

.tweet-action {
    display: flex;
    align-items: center;
}

.tweet-action .counter {
    color: #657786;
    margin-right: 10px;
}

.button-tweet {
    background-color: #f21d88;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 768px) {
    .grid-container {
        flex-direction: column;
        align-items: center;
    }

    .main {
        padding: 10px;
    }

    .page__title {
        font-size: 20px;
    }

    .tweet__box {
        padding: 15px;
    }

    .tweet-box-header {
        font-size: 20px;
    }

    .tweet-box-body .tweet-title,
    .tweet-box-body textarea {
        padding: 8px;
        font-size: 14px;
    }

    .button-tweet {
        padding: 8px 15px;
    }
}



